<%- include("header") %>

    <h1>People</h1>
    <ul>
        <% for (let person of data) { %>
            <li>Name: <%= person.name %>, Age: <%= person.age %></li>
        <% }; %>
    </ul>
    <%- include("footer") %>
