<h1>Hello World!</h1>
This is yet another boring hello world app
<br>
My name is <%= person.name %>
    <br>
    My age is <%= person.age %>

        <!-- if statement: -->

        <% if (person.age> 50) { %>
            <p>Je bent oud</p>
            <%} else { %>
                <p>Je bent jong</p>
                <% } %>