<%- include("header") %>

My name is <%= person.name %>
    <br>
    My age is <%= person.age %>

        <!-- if statement: -->

        <% if (person.age> 50) { %>
            <p>Je bent oud</p>
            <%} else { %>
                <p>Je bent jong</p>
                <% } %>
                <%- include("footer") %>
